{% extends 'base.html' %}
{% block content %}

<h3 class="light-blue-text text-darken-4 center-align">Add Task</h3>

<div class="row card-panel grey lighten-5">
    <form class="col s12" method="POST" action="{{ url_for('add_task') }}">
        <!--Task name-->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i>
                <input id="task_name" name="task_name" type="text" class="validate" minlength="5" maxlength="50"
                    required>
                <label for="task_name">Task Name</label>
            </div>
        </div>
        <!--Task description-->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-align-left prefix light-blue-text text-darken-4"></i>
                <textarea id="task_description" name="task_description" type="text" class="validate materialize-textarea" minlength="5" maxlength="300"
                    required></textarea>
                <label for="task_name">Task Description</label>
            </div>
        </div>
        <!--Due Date-->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-calendar prefix light-blue-text text-darken-4"></i>
                <input id="due_date" name="due_date" type="text" class="validate datepicker light" required>
                <label for="due_date">Due Date</label>
            </div>
        </div>
        <!--Is Urgent?-->
        <div class="row">
            <div class="input-field col s12">
                <div class="switch">
                    <i class="fas fa-exclamation-circle prefix light-blue-text text-darken-4"></i>
                    <label for="is_urgent">
                        <input id="is_urgent" name="is_urgent" type="checkbox">
                        <span class="lever"></span>
                        Is this urgent?</label>
                </div>
            </div>
        </div>
        <!--Category ID-->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
                    <select id="category_id" name="category_id" type="text" class="validate" required>
                        <option value="" disabled selected>Choose category</option>
                        {% for category in categories %}
                            <option value="{{ category.id }}" class="value">{{ category.category_name }}</option>
                        {% endfor %}
                    </select>
                <label for="category_id">Category ID</label>
            </div>
        </div>
        <!--Submit Button-->
        <div class="row">
            <div class="col s12 center-align">
                <button type="submit" class="btn-large light-blue darken-1">
                    Add Task <i class="fas fa-plus-square right"></i>
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}